<ion-tabs (ionTabsDidChange)="test($event)" *transloco="let t">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{title()}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="register-income">
      <ion-icon name="wallet-outline"></ion-icon>
      {{t('REGISTER_INCOME.TITLE')}}
    </ion-tab-button>
    <ion-tab-button tab="register-expense">
      <ion-icon name="cash-outline"></ion-icon>
      {{t('REGISTER_EXPENSE.TITLE')}}
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
