<ion-content *transloco="let t" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-income-form">
    <ion-list lines="full" inset="true">
      <ion-item>
        <ion-input
          [label]="t('COMMON.AMOUNT')"
          labelPlacement="floating"
          required
          [formControl]="form.controls.amount"
          type="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          [label]="t('COMMON.PROOF_OF_PAYMENT')"
          labelPlacement="floating"
          required
          [formControl]="form.controls.ticket"
          type="text"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="datetime"
              [formControl]="form.controls.date"
              showDefaultButtons="true"
              [doneText]="t('COMMON.OK')"
              [cancelText]="t('COMMON.CANCEL')"
              displayFormat="MM/DD/YYYY"
              presentation="date"
            >
              ></ion-datetime
            >
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <app-property-selector [formControl]="form.controls.property" />
      </ion-item>
    </ion-list>
    <ion-button block color="primary" type="submit" class="submitButton">
      {{ t("REGISTER_INCOME.SUBMIT") }}
    </ion-button>
  </form>
</ion-content>
